header{
    display: flex;
    padding: 30px 60px;
    column-gap: 40px;
    align-items: center;
}
.header__logo{
    font-weight: 500;
    font-size: 26px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}
.header__nav{
    display: flex;
    column-gap: 12px;
}
.header__auth{
    display: flex;
    column-gap: 24px;
}