@import './includes/header.css';
@import './includes/footer.css';
@import './components/worklist.css';
@import './components/productcard.css';

body,
body *{
    box-sizing: border-box;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.content{
    width: 1440px;
    margin: auto;
    max-width: 1440px;
    padding: 60px 0px;
}

a{
    color: black;
    text-decoration: none;
}

h1{
    font-size: 46px;
    margin-bottom: 40px;
}