.form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 600px;
    max-width: 600px;
    margin: auto;
}
.form input,
.form select{
    height: 38px;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: 1px solid black;
    padding: 0px 15px
}
.form .btn{
    width: fit-content;
    padding: 10px 30px;
    background: black;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: auto;
    transition: all 0.2s linear;
}
.form .btn:hover{
    transform: scale(0.98);
}
.form-register__user-type{
    display: flex;
    flex-direction: column;
    align-items: start;
}